body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

h1{
    display: flex;
    justify-content: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: center;
}

#nome{
    width: 97%;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

#opcoes {
    height: 150px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #218838;
}

#resultado {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
}

#mensagemCopia {
    color: green;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    border-radius: 15px 15px 0px 0px;
}

footer p {
    margin: 0;
    color: white;
}

.footer-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.footer-link:hover {
    text-decoration: underline;
}

body > footer {
    margin-top: auto;
}

@media (min-width: 800px) {
    footer {
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    }
}
