/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    height: 100%;
    background-color: #f4f7fc;
}

body {
    display: flex;
    flex-direction: column;
    color: #333;
    padding: 20px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4A90E2;
}

textarea#inputText, textarea#outputText, input#userName {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #d9d9d9;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

textarea#inputText:focus, textarea#outputText:focus, input#userName:focus {
    border-color: #4A90E2;
    outline: none;
}

textarea#inputText {
    height: 150px; /* Altura maior para entrada de texto */
    resize: vertical;
}

textarea#outputText {
    height: 500px; /* Altura maior para saída de texto */
    resize: none;
    background-color: #f9f9f9;
    cursor: not-allowed;
}

button {
    background-color: #4A90E2;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

button:hover {
    background-color: #357ABD;
}

p#statusMessage {
    margin-top: 15px;
    font-size: 14px;
    color: #4CAF50;
}

/* Estilo para o Rodapé */
footer {
    background-color: #4A90E2;
    padding: 15px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Limita o rodapé à largura do container */
    width: 100%;
    margin: 0px auto 0 auto; /* Centraliza o rodapé e adiciona margem ao topo */
}

footer p {
    color: #fff;
    font-size: 14px;
    margin: 0;
}

footer p a {
    color: #FFEB3B;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer p a:hover {
    color: #FFC107;
    text-decoration: underline;
}

/* Flexbox para garantir que o footer fique no fim */
html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

